<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="NewsFeed" icon-off="ion-ios-home" icon-on="ion-ios-home" ui-sref="tab.news-feed">
    <ion-nav-view name="tab-news-feed"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Cupboard" icon-off="ion-tshirt-outline" icon-on="ion-tshirt-outline" ui-sref="tab.cupboard">
    <ion-nav-view name="tab-cupboard"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Outfit" icon-off="ion-star" icon-on="ion-star" ui-sref="tab.outfit">
    <ion-nav-view name="tab-outfit"></ion-nav-view>
  </ion-tab>

</ion-tabs>
