<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="right">
              <a ui-sref="menu.add-clothe" class=""><i class="icon ion-edit placeholder-icon" style="font-size: 24px;width:24px;color: #FFF"></i></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="home"></ion-nav-view>
    </ion-side-menu-content>
</ion-side-menus>
