<ion-view view-title="GARDE ROBE" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
      <center style="margin-bottom:15px;">
        <a class="tab-item" ui-sref="tab.add-clothe">
          <i class="icon ion-ios-plus"></i>
          Ajouter un produit
        </a>
      </center>

      <div class="list">
          <a class="item item-text-wrap" href="#/tab/cupboard/{{ cat.name }}" ng-repeat="cat in categories">
            <h2 class="ng-binding">{{ cat.name }}</h2>
          </a>
      </div>


      <!-- <div class="categories-container">
        <div class="card categorie-card" ng-repeat="cat in categories">
          <a class="item item-text-wrap" href="#/tab/cupboard/{{cat.id}}">
            <h1><i class="ion-tshirt-outline"></i></h1>
            <h2 class="ng-binding">{{ cat.name }}</h2>
          </a>
        </div>
      </div> -->
    </ion-content>
</ion-view>
