<style>
.button-clear {
  color:#e8e8e8;
}

.button-twitter {
  background-color: #55acee;
}

.button-facebook {
  background-color: #3b5998;
}

.button-clear.button-clear {
  color:#81858d;
  font-size:12px;
  font-weight: bold;
}

</style>


<ion-view title="Log In">
  <ion-nav-bar class="bar-assertive">
      <!-- <ion-nav-back-button></ion-nav-back-button> -->
  </ion-nav-bar>
    <ion-content padding="true" class="background-text">

        <ion-list>
            <p>Connexion avec un compte existant :</p>
            <label class="item item-input">
              <i class="icon ion-person placeholder-icon" style="font-size: 32px;width:32px;"></i>
              <input type="text" placeholder="Username" id="username" ng-model="user.username">
            </label>
            <label class="item item-input">
              <i class="icon ion-ios-locked-outline placeholder-icon" style="font-size: 32px;width:32px;"></i>
              <input type="password" placeholder="Password" id="password" ng-model="user.password">
            </label>
            <button class="button button-block button-calm" ng-click="login(user)" ng-disabled="!ready">Sign In</button>

            <hr>

            <button class="button button-block button-facebook" ng-click="fbLogin()">
            Connexion avec Facebook
            </button>
            <button class="button button-block button-twitter ">
            Connexion avec Twitter
            </button>

            <div class="row footer-login">
              <div class="col">
                <button class="button button-block button-clear button-footer" id="forgot-button" ui-sref="reset">Forgot password ?</button>
              </div>
              <div class="col">
                <button class="button button-block button-clear button-footer" id="forgot-button" ui-sref="signup">New here? Sign Up</button>
              </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
