<ion-view title="Log In">
  <ion-nav-bar class="bar-assertive">
      <!-- <ion-nav-back-button></ion-nav-back-button> -->
  </ion-nav-bar>
    <ion-content padding="true">
        <ion-list>

            <label class="item item-input">
              <i class="icon ion-ios-email-outline placeholder-icon" style="font-size: 32px;width:32px;"></i>
              <input type="text" placeholder="Username" id="username" ng-model="user.username">
            </label>
            <label class="item item-input">
              <i class="icon ion-ios-locked-outline placeholder-icon" style="font-size: 32px;width:32px;"></i>
              <input type="password" placeholder="Password" id="password" ng-model="user.password">
            </label>
            <button class="button button-block button-balanced" ng-click="login(user)" ng-disabled="!ready">Sign In</button>
            <div class="row">
              <div class="col"><button class="button button-block button-clear" id="forgot-button" ui-sref="reset" style="font-size:14px;">Forgot password ?</button></div>
              <div class="col"><button class="button button-block button-clear" id="forgot-button" ui-sref="signup" style="font-size:14px;">Register</button></div>
            </div>
        </ion-list>
</ion-view>
