<ion-view view-title="Ajout d'une tenue" id="page_addoutfit" class=" ">
  <ion-content padding="true" class="has-header">
    <div class="list card">

      <a class="item item-icon-left" id='elementHead' ng-click="openModal()">
        <i class="icon ion-happy"></i>
        Tête
      </a>

      <a  class="item item-icon-left" ng-click="openModal()">
        <i class="icon ion-bowtie"></i>
        Accessoires
      </a>


      <a  class="item item-icon-left" ng-click="openModal()">
        <i class="icon ion-tshirt"></i>
        Torse
      </a>

      <a  class="item item-icon-left" ng-click="openModal()">
        <i class="icon ion-android-hand"></i>
        Main
      </a>


      <a  class="item item-icon-left" ng-click="openModal()">
        <i class="icon ion-tshirt"></i>
        Bas
      </a>

      <a  class="item item-icon-left" ng-click="openModal()">
        <i class="icon ion-tshirt"></i>
        Pieds
      </a>

    </div>
    <div class="text-align:right">
      <button class="button pull-right" ng-click="saveOutfit(outfit)">Ajouter</button>
    </div>
  </ion-content>
</ion-view>


<!--<script id="templates/modal.html" type="text/ng-template">-->
 <!-- <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">New Contact</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input ng-model="newUser.firstName" type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input ng-model="newUser.lastName" type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input ng-model="newUser.email" type="text">
        </label>
        <button class="button button-full button-positive" ng-click="createContact(newUser)">Create</button>
      </div>
    </ion-content>
  </ion-modal-view>-->
<!--</script>-->
