<ion-view view-title="Ajout d'une tenue" id="page_addoutfit" class=" ">
  <ion-content padding="true" class="has-header">
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Nom</span>
        <input type="text" placeholder="Name" ng-model="clothe.name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Marque</span>
        <input type="text" placeholder="Brandt" ng-model="clothe.brandt">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Coleur</span>
        <input type="text" placeholder="Color" ng-model="clothe.color">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Taille</span>
        <input type="text" placeholder="Size" ng-model="clothe.size">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Categorie</span>
        <input type="text" placeholder="Categorie" ng-model="clothe.categorie">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Sous-Categorie</span>
        <input type="text" placeholder="Sub Categorie" ng-model="clothe.subCategorie">
      </label>
    </div>
    <div class="text-align:right">
      <button class="button pull-right" ng-click="saveOutfit(outfit)">Ajouter</button>
    </div>
  </ion-content>
</ion-view>
