<ion-view title="Home" id="page1" class=" ">
    <ion-content padding="true" class="has-header">

      <div class="row colums-two">

        <div class="card col home">
          <a class="item item-text-wrap" ui-sref="menu.cupboard">
            <h1><i class="ion-ios-home"></i></h1>
            <h2 class="ng-binding">GARDE ROBE</h2>
          </a>
        </div>

        <div class="card col home">
          <a class="item item-text-wrap" ui-sref="menu.looks">
            <h1><i class="ion-tshirt-outline"></i></h1>
            <h2 class="ng-binding">LOOKS</h2>
          </a>
        </div>

      </div>

      <div class="row colums-two">

        <div class="card col home">
          <a class="item item-text-wrap">
            <h1><i class="ion-android-calendar"></i></h1>
            <h2 class="ng-binding">CALENDRIER</h2>
          </a>
        </div>

        <div class="card col home">
          <a class="item item-text-wrap">
            <h1><i class="ion-stats-bars"></i></h1>
            <h2 class="ng-binding">STATS</h2>
          </a>
        </div>

      </div>

      <input ng-model="userName">
      <button ng-click="saveUser(userName)">Save</button>
      <div ng-repeat="user in users">{{user.username}}</div>
    </ion-content>
</ion-view>
