<ion-view class="has-header">
  <ion-nav-bar class="bar-assertive">
     <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <!--<img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">-->
    <!--<img ng-show="imgURI === undefined" ng-src="https://placeholdit.imgix.net/~text?txtsize=28&txt=300%C3%97300&w=300&h=300">-->
    <!--<button class="button" ng-click="takePicture()">Take Picture</button>-->
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Name" ng-model="clothe.name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Brandt</span>
        <input type="text" placeholder="Brandt" ng-model="clothe.brandt">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Color</span>
        <input type="text" placeholder="Color" ng-model="clothe.color">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Size</span>
        <input type="text" placeholder="Size" ng-model="clothe.size">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Categorie</span>
        <input type="text" placeholder="Categorie" ng-model="clothe.categorie">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Sub Categorie</span>
        <input type="text" placeholder="Sub Categorie" ng-model="clothe.subCategorie">
      </label>
    </div>
    <button class="button" ng-click="saveClothe(clothe)">Save</button>
  </ion-content>
</ion-view>
